<!--Isso é uma tag html-->
<!--Na tag <Head> ira configuraÇões do meu documento-->
<!--Na tag <Body> todo o contúdo visível da pagina-->

    <!--
        HTML

        HyperText
            Hipertexto

        Markup
            Marcação

        Langage
            Linguagem
    -->

<!DOCTYPE html>
<html lang="pt_br"> <!--lang é um atríbuto-->
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy | Sua plataforma de estudos online :)</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/Partials/header.css">
    <link rel="stylesheet" href="/styles/partials/page-study.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body id="page-study">

    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                <img src="/images/icons/back.svg" alt="Voltar">
                </a>
                <img src="/images/logo.svg" alt="Proffy">
            </div>

            <div class="header-content">
                <strong>Esses são os Proffys disponíveis</strong>
                <form id="search-teachers">
                    <div class="select-block">
                        <label for="subject" id="subject">Selecione uma Matéria</label>
                        <select name="subject" id="subject">
                            <option value="" disabled="" hidden="">Selecione uma Matéria</option>

                            (%for subjects in subjects %)
                                <option value="{{loop.index}}"{{ "selected" if filters.subject == "loop.index" }}>
                                    {{subject}}
                                </option>
                            (%endfor%)

                        </select>
                    </div>
                    <div class="select-blok">
                        <label for="weekday">Dia da Semana</label>
                        <select name="weekday" id="weekday">
                            <option value="" disabled="" hidden="">Selecione um Dia</option>

                            (%for weekday in weekdays %)
                                <option value="{{loop.index}}"{{ "selected" if filters.weekday == "loop.index" }}>
                                    {{weekday}}
                                </option>
                            (%endfor%)

                        </select>
                    </div>
                    <div class="input-block">
                        <label for="time">Hora</label>
                        <input name="time" id="time" type="time" value="{{filters.time}}">
                        <!--::after-->
                    </div>
                    <button type="submit">Filtrar</button> <!--submit envia o formulario-->
                </form>
            <div class="header-content"></div>


            </div>
        </header>

        <main>

            {% if proffys == "" %}
                <p class = "no-results">Nenhum professor encontrado com a sua pesquisa.</p>

            {% else %}

                {%for proffy in proffys %}

                    <article class="teacher-item">
                <header>
                    <img 
                        src="{{proffy.avatar}}"
                        alt="{{proffy.name}}">
                    <div>
                        <strong>{{proffy.name}}</strong>
                        <span>{{proffy.subject}}</span>
                    </div>
                </header>
            
                <p>{{proffy.bio}}</p>p>
            
                <footer>
                    <p>Preço/hora<strong>{{proffy.cost}}</strong>
                    </p>
                    <button type="button">
                        <img src="/images/icons/whatsapp.svg" alt="Whatsapp">Entrar em contato
                    </button>
                </footer>
                    </article>

                {%endfor%}

            {% endif %}

        </main>
    </div>

</body>
</html>


<!--min="0" max="24"    linha 75-->